:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff;
}

body {
  margin: 0;
  font-size: 16px; /* Ép cỡ chữ cơ bản */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;    /* Ép rộng 100% màn hình */
  margin: 0;      /* Bỏ căn giữa */
  padding: 0;
  min-height: 100vh;
  display: block;
}

/* Các định dạng cơ bản khác */
h1, h2, h3, h4 {
  margin: 0;
}

* {
  box-sizing: border-box; /* Giúp tính toán kích thước chuẩn, không bị tràn viền */
}